@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    letter-spacing: 1.5px;
}

.row {
    margin: 0;
}
/*----------------------------------Header & Nav */

header {
    margin-top: 53px;   
}

.navbar-bg {
    background-color: rgba(49, 39, 53, 0.95);
}

.nav-item {
    color: #f0f0f0;
    font-weight: 400;
    padding: 5px;
}

.navbar-toggler-icon :hover{
color:rgba(74, 178, 150, 0.6);
}

/*----------------------------------Jumbotron */

.about-image {
    background: url("../images/gemma-cover-crop.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(178, 223, 221, 0.5);
    
}


.name {
    position: relative;
    display: flex;
    color: rgba(49, 39, 53, 0.9);
    font-weight: 700;
    padding-top: 100px;
    transition: .75s ease-out;  
}

.hvr-grow {
    transform: scale(1.15);
}
.name-2 {
    position: relative;
    display: flex;
    color: #312737;
    font-weight: 500;
    transition: .75s ease-in;
}

.title-block {
    background-color: rgba(240, 240, 240, 0.5);
    max-width: 300px;
}
.title {
    position: bottom left;
    display: flex;
    color: rgba(49, 39, 53, 0.9);
    font-weight: 500;
    font-size: larger;
    font-style: italic;
    padding-bottom: 10px;
    transition: .75s ease-out;
}

/*----------------------------------Icon Styling */

.fa-linkedin-in {
    color: #312737;
}

.fa-github {
    color: #312737;
}

.fa-download {
    color: #312737;
} 

.linked-in-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
} 

.git-icon {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: xx-large; 
}

.download-icon {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: xx-large;
}

.skills-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    color: #312737; 
    width: 18rem;
    border: none;
    border-radius: none;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .75s ease-out;
}

.skills-icon-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    color: rgba(227, 212, 199, 0.4); 
    width: 18rem;
    border: none;
    border-radius: none;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .75s ease-out;
}

.fab:hover {
    color: rgba(74, 178, 150, 0.6);
} 

.fas:hover {
    color: rgba(74, 178, 150, 0.6);
}

/*----------------------------------Text Styling */
.section-headings {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    text-align: center;
    padding: 25px 0;
    margin: 1.5rem auto;
}

/*----------------------------------Page-Breaks and special items */

.hr{
    border: 1px solid #4ab296;
    width: 10%;
    display: inline-flex;
}

.progress-bar {
    background-color: #4ab296;
}

/*----------About----------*/

.about {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

}

/*----------Skills----------*/

.skills-bg {
    background-color: rgba(227, 212, 199, 0.4)
}

.skills-intro {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;  
}
.card-text {
    padding-bottom: 15px;
    text-align: center;
    font-weight: 300;
}
.card {
    padding: 20px 10px;
    display: inline-block;
}

.card-style {
    padding: 2%;
}

/*----------Portfolio----------*/

.card-title {
    text-align: left;
    font-weight: 500;
}

.card-sub-title {
    text-align: left;
    font-weight: 400;
}

.card-text {
    text-align: left;
    font-weight: 300;
}

.card-button {
    position: left;
    border: solid 3px;
    border-radius: 0%;
    width: 200px;
    font-family:'Montserrat', sans-serif;
    color: #312737;
}

.card-button:hover {
    background-color:rgba(74, 178, 150, 0.4); 
}

/*----------------------------------Contact Form */

.contact-bg {
    background-color: rgba(227, 212, 199, 0.4);
}

/* .collaborate {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;

} */

.contact {

    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    
}
.contact-button {
    border: solid 3px;
    border-radius: 0%;
    width: 200px;
    font-family:'Montserrat', sans-serif;
    color: #312737;
}

.contact-button:hover {
    background-color:rgba(74, 178, 150, 0.4); 
}


/*----------------------------------Footer */

footer {
    background-color:rgba(227, 212, 199, 0.4);
}


