@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------Header */

.nav-bar-toggler {
    color: #3f312e;
    border: none;
    background: none;
}


.nav-item {
    font-family:'Montserrat', sans-serif;
    color: #3f312e;
    font-weight: 400;
    padding-inline: 5px;
}

.jumbotron {
    background: url("../images/gemma-cover-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding: 0px;
}


/*---------------------------------- Name */
.name {
    font-family:'Montserrat', sans-serif;
    color: #3f312e;
    font-weight: 600;
    padding-top: 200px;
    padding-left: 25px;

}

/*----------------------------------Title */

.title {

    display: inline;
     font-family:'Montserrat', sans-serif;
     text-decoration-color: #e3d4c7;
     margin-left: 60px;
     padding-bottom: 40px;

}

