@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
/*----------------------------------Header */

header {
    margin-top: 52px;
    /* background-color: #3f312e; */
    
}

.navbar {
    background-color: #312735;
}

.row {
    margin: 0;
}

/* 
.nav :hover {
    color: #4ab296;
} 

.navbar-toggler {
    color: #3f312e;
    font-size: 25px;
    border: none;
    background: none;
    position: fixed;
    float: right;
} 

.navbar-toggler :hover {
    color: #4ab296;
} 

.fas {
    line-height: 0;
}

.nav-link {
    color: #3f312e;
    font-weight: 400;
    padding: 5px;
} 

.nav-link :hover {
    color: #4ab296;
} */


.about-image {
    background: url("../images/gemma-cover-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    /* width: 100%; */
    /* padding: 0px; */
}

/*---------------------------------- Name */
.name {
    color: #3f312e;
    font-weight: 700;
    padding-top: 275px;
    padding-left: 70px;
}

.hvr-grow {
    transform: scale(1.15);
}

/*----------------------------------Title */

.title {
    display: inline;
    color: #3f312e;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    /* margin-top: 30px;
    margin-left: 70px; */
    padding-bottom: 35px;
    transition: .75s ease-out;
}


/*----------------------------------Icon Styling */

.fa-linkedin-in {
    color: #3f312e;
}

.fa-linkedin-in i:hover {
    background-color: #4ab296;

}
.fa-github {
    color: #3f312e;
}

.fa-download {
    color: #3f312e;
}

.linked-in-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    color: #3f312e;
}

.git-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large; 
    color: #3f312e; 
}

.download-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    color: #3f312e;
}

.skills-icon {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    color: #3f312e; 
    width: 18rem;
    border: none;
    border-radius: none;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .75s ease-out;
}
.progress-bar {
    background-color: #4ab296;
}


.skills-icon :hover {
    color: rgba(74, 178, 150, 0.6);
} 

.fa-html5 {
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-css3{
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-js {
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-chess-queen {
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-users-cog {
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-handshake {
    color: #3f312e;
    padding-bottom: 10px;
}

.fa-tasks {
    color: #3f312e;
    padding-bottom: 10px;
}

/*----------------------------------Text Styling */
.section-headings {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    text-align: center;
    padding: 25px 0;
    margin: 1.5rem auto;
}

/*----------------------------------Page-Breaks and special items */

.hr{
    border: 1px solid #4ab296;
    width: 10%;
    display: inline-flex;
}

/*----------About----------*/

.about {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;

}

/* .about-text-1 {
    font-family:'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    text-align: left;  
}

.about-text-2 {
    font-family:'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    text-align: left;  
}

.about-text-3 {
    font-family:'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    text-align: left;  
} */

/*----------Skills----------*/

.skills-bg {
    background-color: rgba(227, 212, 199, 0.4)
}

.skills-intro {
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;  
}
.card-text {
    padding-bottom: 15px;
    text-align: center;
    font-weight: 300;
}
.card {
    padding: 20px 10px;
    display: inline-block;
}

.card-style {
    padding: 2%;
}


/* .html5-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;  
}

.css-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.js-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.strategy-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
.team-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
.handshake-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
.project-management-text {
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
} */


/*----------Portfolio----------*/

.portfolio-text {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    color: #3f312e;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
}


/* .ms1-card {
    font-family:'Montserrat', sans-serif;
    width: 20rem;
    position: auto;
    padding-left: 20px;
    padding-top: 15px;
    
}
.ms2-card {
    font-family:'Montserrat', sans-serif;
    width: 20rem;
    position: auto;
    padding-left: 20px;
    padding-top: 15px;
    
}
.ms3-card {
    font-family:'Montserrat', sans-serif;
    width: 20rem;
    position: auto;
    padding-left: 20px;
    padding-top: 15px;
    
    
}
.ms4-card {
    font-family:'Montserrat', sans-serif;
    width: 20rem;
    position: auto;
    padding-left: 20px;
    padding-top: 15px;
    
} */

.card-button {
    border: solid 3px;
    border-radius: 0%;
    width: 200px;
    font-family:'Montserrat', sans-serif;
    color: #3f312e;
}

.card-button:hover {
    background-color:rgba(74, 178, 150, 0.4); 
}
/*----------------------------------Contact Form */
.contact-bg {
    background-color: rgba(227, 212, 199, 0.4);
}

.collaborate {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;

}

.contact {

    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    
}
.contact-button {
    border: solid 3px;
    border-radius: 0%;
    width: 200px;
    font-family:'Montserrat', sans-serif;
    color: #3f312e;
}

.contact-button:hover {
    background-color:rgba(74, 178, 150, 0.4); 
}


/*----------------------------------Footer */

.footer {
    background-color: #3f312e;
    scroll-padding-bottom: sticky;
}

.footer-contact {
    padding: 30px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: small;
    text-align: center;
    background-color: #3f312e;
    color: #b2dfdd;
    

}

.footer-connect {
    padding: 30px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: small;
    text-align: center;
    background-color: #3f312e;
    color: #b2dfdd;
}

.footer-download {
    padding: 30px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: small;
    text-align: center;
    background-color: #3f312e;
    color: #b2dfdd;
}
